body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;
}

header {
	background: black;
	height: 150%;

}

#pricing li {
font-size: 1.5em;	
}



.boxed{
  display:inline;
  float: left;
  margin:0;
  height:25px;
  width:15px;
  background: #000;
  margin-right: 4px;
}

.yellow {
	background: yellow;
}

.lblue {
	
	background: cornflowerblue;

}

.red {
	background: red;
}

.green {
	background: green;
}

section {
  
  overflow: hidden;
  float: left;
  position: relative;
  margin: 8px;


}
section img {
	width:80%;
}

section p {
  width: 80%;
  font-size: 1.3em;
  background: white;
  position: absolute;
  bottom: -150px;
  margin-bottom: 0px;
  transition: bottom 1s;
}

section:hover p {
 bottom: 0px;
 margin-bottom: 0px;

}

article {
margin-left: 15px;
}

nav {
	margin: 15px;
}

nav a {
	margin-right: 20px;
}

.ui.button {
	font-size: 1.5rem;
}

ul li {
	list-style: none; }

