body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
}

header {
	background: black;
	height: 150%;

}

.fadey {

	background: red;
}


section {
  
  overflow: hidden;
  float: left;
  position: relative;
  margin: 8px;

}
section img {
	width:80%;
}

section p {
  width: 80%;
  font-size: 1.3em;
  background: white;
  position: absolute;
  bottom: -150px;
  margin-bottom: 0px;
  transition: bottom 1s;
}

section:hover p {
 bottom: 0px;
 margin-bottom: 0px;

}

article {
margin-left: 15px;
}

nav {
	margin: 15px;
}

nav a {
	margin-right: 20px;
}